<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Loading properties file-->
    <context:property-placeholder location="sport.properties" />

    <!-- Define your beans here-->
    
    <!--Decalring a bean-->
    <bean id="myCoach" class="com.spring.BaseballCoach">
    <!--Constructor injections-->
        <constructor-arg ref="myFortune"></constructor-arg>
     </bean>

    <bean id="myFortune" class="com.spring.HappyFortuneService">  </bean>

    <!--Decalring a bean-->
    <bean id="myNewCoach" class="com.spring.CricketCoach">
    <!--Setter Injection-->
        <property name="fortuneService" ref="myFortune" />

    <!-- inject literal values-->
    <!--
    <property name="emailAddress" value="coach@cricketCoach.com" />
    <property name="team" value="Mumbai Indians" />
    -->

    <!-- injecting values from properties file-->
    <property name="emailAddress" value="${properties.email}" />
    <property name="team" value="${properties.team}" />

     </bean>
</beans>
